body{
    background-color: azure;
}
/* Hide scrollbar for entire page */
body {
    overflow: auto; /* Allows scrolling */
  }
  
  /* Hide scrollbar for Chrome, Safari, Edge */
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  * {
    scrollbar-width: none;
  }
  
  /* Hide scrollbar for specific container */
  .scroll-container {
    overflow: auto; /* Allows scrolling */
    scrollbar-width: none; /* Firefox */
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }